.SongString {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 10px;
}

.SongString button {
  width: 70px;
  border: none;
  background-color: #1db954;
  color: white;
}

.songInfo {
  width: 300px;
}
